<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Simple blogging')" />

<body>
    <div th:replace="fragments/menu :: menu('/')" />
    <div class="container">
        <h1>Last 15 posts</h1>
        <form method="GET" class="form-inline">
            <div class="form-group">
                <select class="form-control" id="active" name="active">
                    <option th:value="${'true'}" th:selected="${active}">Active</option>
                    <option th:value="${'false'}" th:selected="${not active}">Inactive</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Filter</button>
            </div>
        </form>
        <div class="row">
            <div class="col-md-4" th:each="post : ${posts}">
                <div class="card h-100">
                    <img th:src="${'/uploads/' + post.imageUrl}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${post.title}"></h5>
                        <p class="card-text" th:text="${#strings.abbreviate(post.text, 150)}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/foot :: foot" />
</body>

</html>